<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%include ./common/common.ejs %>
  </head>
  <body >
<%= title%>
  
  </body>
</html>
