<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h1>用户名：
  <% if (session.user) { %>  
     <%= session.user.userName%>
  <% } else{%>
       222   
  <%}%> 



  
  </h1>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
