<!DOCTYPE html>
<html>
  <head>
    <title>首页</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body >
  </body>
  <div id="app">
    <h1><%-articleCon.articleCon %></h1>
  </div>  
  </body>
</html>
