<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%include ./common/common.ejs %>
  </head>
  <body >
  <div id="app">
    <h1 @click="add">用户名：
        <% if (session.user) { %>  
          <%= session.user.userName%>
        <% } else{%>
            {{message}} 
        <%}%> 
    </h1>
  </div>
  
  </body>
  <script>
  new Vue({
      el: '#app',
      data: {
        message: 'Hello World !'
      },
      methods:{
        add:()=>{
          alert(1)
        }
      }
    }) 
  </script>
</html>
