<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>idnex</title>
    <style type="text/css">
        body{
            background: #fafff3;
            font-size: 14px;
            color: #333;
        }
    </style>
</head>
<body>

   1111
  
</body>
</html>