<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=/cashbook/favicon.ico>
    <title>博客管理后台</title>
    <link rel=stylesheet href=//unpkg.com/iview/dist/styles/iview.css>
    <link href=/cashbook/css/app.1ebe0d2c.css rel=stylesheet>
</head>
<body>
<noscript><strong>We're sorry but vue_blog_manager doesn't work properly without JavaScript enabled. Please enable it to
        continue.</strong></noscript>
<div id=app></div>
<script src=https://blog-manger.oss-cn-beijing.aliyuncs.com/js/vue.runtime.min.js></script>
<script src=https://blog-manger.oss-cn-beijing.aliyuncs.com/js/vue-router.min.js></script>
<script src=https://blog-manger.oss-cn-beijing.aliyuncs.com/js/vuex.min.js></script>
<script src=https://blog-manger.oss-cn-beijing.aliyuncs.com/js/axios.min.js></script>
<script src=/cashbook/js/chunk-vendors.56397a9b.js></script>
<script src=/cashbook/js/app.02493a6c.js></script>
</body>
</html>
